### Importation des données des joueurs et des matchs avec Pandas

In [97]:
import pandas as pd
players = "../../data/raw_data/players.csv"
matches = "../../data/raw_data/matches.csv"

players_df = pd.read_csv(players)
matches_df = pd.read_csv(matches)

players_df.head(30)

,Team,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G+A,G-PK,PK,PKatt,CrdY,CrdR,xG
0,Liverpool,Mohamed Salah,eg EGY,FW,32.0,38.0,38.0,"3,371",37.5,29.0,18.0,47.0,20.0,9.0,9.0,1.0,0.0,25.2
1,Liverpool,Virgil van Dijk,nl NED,DF,33.0,37.0,37.0,"3,330",37.0,3.0,1.0,4.0,3.0,0.0,0.0,5.0,0.0,2.2
2,Liverpool,Ryan Gravenberch,nl NED,MF,22.0,37.0,37.0,"3,160",35.1,0.0,4.0,4.0,0.0,0.0,0.0,6.0,1.0,1.1
3,Liverpool,Alexis Mac Allister,ar ARG,MF,25.0,35.0,30.0,"2,599",28.9,5.0,5.0,10.0,5.0,0.0,0.0,6.0,0.0,2.8
4,Liverpool,Ibrahima Konaté,fr FRA,DF,25.0,31.0,30.0,"2,560",28.4,1.0,2.0,3.0,1.0,0.0,0.0,5.0,0.0,1.7
5,Liverpool,Dominik Szoboszlai,hu HUN,MF,23.0,36.0,29.0,"2,491",27.7,6.0,6.0,12.0,6.0,0.0,0.0,6.0,0.0,7.3
6,Liverpool,Andrew Robertson,sct SCO,DF,30.0,33.0,29.0,"2,482",27.6,0.0,1.0,1.0,0.0,0.0,0.0,3.0,1.0,1.2
7,Liverpool,Alisson,br BRA,GK,31.0,28.0,28.0,"2,508",27.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Liverpool,Luis Díaz,co COL,FW,27.0,36.0,28.0,"2,399",26.7,13.0,5.0,18.0,13.0,0.0,0.0,2.0,0.0,12.0
9,Liverpool,Trent Alexander-Arnold,eng ENG,DF,25.0,33.0,28.0,"2,365",26.3,3.0,6.0,9.0,3.0,0.0,0.0,5.0,0.0,1.9
10,Liverpool,Cody Gakpo,nl NED,FW,25.0,35.0,23.0,"1,935",21.5,10.0,4.0,14.0,10.0,0.0,0.0,5.0,0.0,7.1
11,Liverpool,Curtis Jones,eng ENG,"MF,DF",23.0,33.0,19.0,"1,712",19.0,3.0,3.0,6.0,3.0,0.0,0.0,3.0,1.0,4.3
12,Liverpool,Diogo Jota,pt POR,FW,27.0,26.0,14.0,"1,196",13.3,6.0,3.0,9.0,6.0,0.0,0.0,2.0,0.0,7.9
13,Liverpool,Caoimhín Kelleher,ie IRL,GK,25.0,10.0,10.0,900,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Liverpool,Kostas Tsimikas,gr GRE,DF,28.0,18.0,9.0,837,9.3,0.0,1.0,1.0,0.0,0.0,0.0,2.0,0.0,0.4
15,Liverpool,Darwin Núñez,uy URU,FW,25.0,30.0,8.0,"1,133",12.6,5.0,2.0,7.0,5.0,0.0,0.0,8.0,0.0,5.8
16,Liverpool,Conor Bradley,nir NIR,DF,21.0,19.0,7.0,754,8.4,0.0,2.0,2.0,0.0,0.0,0.0,4.0,0.0,0.7
17,Liverpool,Joe Gomez,eng ENG,DF,27.0,9.0,6.0,519,5.8,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.3
18,Liverpool,Jarell Quansah,eng ENG,DF,21.0,13.0,4.0,495,5.5,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.1
19,Liverpool,Harvey Elliott,eng ENG,MF,21.0,18.0,2.0,371,4.1,1.0,2.0,3.0,1.0,0.0,0.0,1.0,0.0,1.8
20,Liverpool,Wataru Endo,jp JPN,"MF,DF",31.0,20.0,1.0,273,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,Liverpool,Federico Chiesa,it ITA,FW,26.0,6.0,1.0,108,1.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.3
22,Liverpool,Vitezslav Jaros,cz CZE,GK,23.0,1.0,0.0,12,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,Liverpool,Jayden Danns,eng ENG,MF,18.0,1.0,0.0,11,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,Liverpool,Harvey Davies,eng ENG,GK,20.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Liverpool,James McConnell,eng ENG,MF,19.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Liverpool,Tyler Morton,eng ENG,MF,21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Liverpool,Amara Nallo,eng ENG,DF,17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Liverpool,Trey Nyoni,eng ENG,MF,17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Arsenal,David Raya,es ESP,GK,28.0,38.0,38.0,"3,420",38.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0

### Détection et suppression des doublons dans le DataFrame des joueurs et des matches

In [98]:
players_df[players_df.duplicated()]
players_df.drop_duplicates(inplace=True)

In [99]:
matches_df[matches_df.duplicated()]
matches_df.drop_duplicates(inplace=True)

### Suppression des lignes entièrement vides dans le DataFrame des joueurs et des matches

In [100]:
players_df[players_df.drop(columns=['Team', 'Player']).isnull().all(axis=1)]
players_df = players_df[~players_df.drop(columns=['Team', 'Player']).isnull().all(axis=1)]

In [101]:
matches_df[matches_df.drop(columns=['Team', 'Date']).isnull().all(axis=1)]
matches_df = matches_df[~matches_df.drop(columns=['Team', 'Date']).isnull().all(axis=1)]

In [102]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 702 entries, 0 to 753
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Team    702 non-null    object
 1   Player  702 non-null    object
 2   Nation  696 non-null    object
 3   Pos     702 non-null    object
 4   Age     697 non-null    float64
 5   MP      702 non-null    float64
 6   Starts  702 non-null    float64
 7   Min     574 non-null    object
 8   90s     574 non-null    float64
 9   Gls     574 non-null    float64
 10  Ast     574 non-null    float64
 11  G+A     574 non-null    float64
 12  G-PK    574 non-null    float64
 13  PK      574 non-null    float64
 14  PKatt   574 non-null    float64
 15  CrdY    574 non-null    float64
 16  CrdR    574 non-null    float64
 17  xG      574 non-null    float64
dtypes: float64(13), object(5)
memory usage: 104.2+ KB

### Inspection du DataFrame des  et des joueurs et nettoyage des noms de colonnes

In [103]:
matches_df.columns = matches_df.columns.str.strip().str.replace(" ", "_")
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 975 entries, 0 to 1003
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           975 non-null    object
 1   Date           975 non-null    object
 2   Time           975 non-null    object
 3   Comp           975 non-null    object
 4   Round          975 non-null    object
 5   Day            975 non-null    object
 6   Venue          975 non-null    object
 7   Result         975 non-null    object
 8   GF             975 non-null    object
 9   GA             975 non-null    object
 10  Opponent       975 non-null    object
 11  xG             849 non-null    float64
 12  xGA            849 non-null    float64
 13  Poss           953 non-null    float64
 14  Attendance     969 non-null    object
 15  Captain        975 non-null    object
 16  Formation      975 non-null    object
 17  Opp_Formation  975 non-null    object
 18  Referee        970 non-null    object
dtypes: float64(3), object(16)
memory usage: 152.3+ KB

### Séparation et nettoyage des champs de données

In [104]:
matches_df['Time'] = matches_df['Time'].str.split(' ').str[0]
matches_df['GF'] = matches_df['GF'].str.split(' ').str[0]
matches_df['GA'] = matches_df['GA'].str.split(' ').str[0]
players_df['Nation'] = players_df['Nation'].str.split(' ').str[1]

In [105]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 702 entries, 0 to 753
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Team    702 non-null    object
 1   Player  702 non-null    object
 2   Nation  696 non-null    object
 3   Pos     702 non-null    object
 4   Age     697 non-null    float64
 5   MP      702 non-null    float64
 6   Starts  702 non-null    float64
 7   Min     574 non-null    object
 8   90s     574 non-null    float64
 9   Gls     574 non-null    float64
 10  Ast     574 non-null    float64
 11  G+A     574 non-null    float64
 12  G-PK    574 non-null    float64
 13  PK      574 non-null    float64
 14  PKatt   574 non-null    float64
 15  CrdY    574 non-null    float64
 16  CrdR    574 non-null    float64
 17  xG      574 non-null    float64
dtypes: float64(13), object(5)
memory usage: 104.2+ KB

### Remplacement des valeurs manquantes par zéro

In [106]:
players_df = players_df.fillna(0)
matches_df = matches_df.fillna(0)

### Conversion des types de données pour l'analyse

In [107]:
players_df[["Age","MP","Starts","Gls","Ast","G+A","G-PK","PK","PKatt","CrdY",]] = players_df[["Age","MP","Starts","Gls","Ast","G+A","G-PK","PK","PKatt","CrdY"]].astype(int)
players_df["Min"] = players_df["Min"].astype(str).str.replace(",", "").astype(int)

matches_df[["Poss","GF","GA"]] = matches_df[["Poss","GF","GA"]].astype(int)
matches_df[["xG","xGA"]] = matches_df[["xG","xGA"]].astype(float)
matches_df["Attendance"] = matches_df["Attendance"].astype(str).str.replace(",", "").astype(int)
matches_df["Date"] = pd.to_datetime(matches_df["Date"])

### Remplacer les valeurs 0 par 'unknown' dans les colonnes de type objet

In [108]:
for col in players_df.select_dtypes(include='object').columns:
    players_df[col] = players_df[col].replace(0, "unknown")

for col in matches_df.select_dtypes(include='object').columns:
    matches_df[col] = matches_df[col].replace(0, "unknown")

In [109]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 975 entries, 0 to 1003
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           975 non-null    object
 1   Date           975 non-null    datetime64[ns]
 2   Time           975 non-null    object
 3   Comp           975 non-null    object
 4   Round          975 non-null    object
 5   Day            975 non-null    object
 6   Venue          975 non-null    object
 7   Result         975 non-null    object
 8   GF             975 non-null    int64
 9   GA             975 non-null    int64
 10  Opponent       975 non-null    object
 11  xG             975 non-null    float64
 12  xGA            975 non-null    float64
 13  Poss           975 non-null    int64
 14  Attendance     975 non-null    int64
 15  Captain        975 non-null    object
 16  Formation      975 non-null    object
 17  Opp_Formation  975 non-null    object
 18  Referee        975 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(4), object(12)
memory usage: 152.3+ KB

### Assignation d’ID uniques aux équipes

In [110]:
team_ids = {} 
id_counter = 1
for team in players_df["Team"].unique():
    team_ids[team] = id_counter
    id_counter += 1
    
players_df["id_equipe"] = players_df["Team"].map(team_ids)

In [111]:
team_ids = {} 
id_counter = 1
for team in matches_df["Team"].unique():
    team_ids[team] = id_counter
    id_counter += 1
    
matches_df["id_equipe"] = matches_df["Team"].map(team_ids)

### Assignation d’ID uniques aux compétitions

In [112]:
comp_ids = {} 
id_counter = 1
for team in matches_df["Comp"].unique():
    comp_ids[team] = id_counter
    id_counter += 1
    
matches_df["id_competition"] = matches_df["Comp"].map(comp_ids)

### Assignation d’identifiants uniques aux joueurs et aux matchs

In [113]:
players_df['id_joueur'] = range(1, len(players_df)+1)
matches_df['id_matche'] = range(1, len(matches_df)+1)

### Création de l’ID des équipes adverses et mappage dans le DataFrame des matchs

In [114]:
team_id_map = dict(zip(matches_df["Team"], matches_df["id_equipe"]))

matches_df["id_opponent"] = matches_df["Opponent"].map(team_id_map)
print(matches_df[["id_equipe", "Team", "Opponent", "id_opponent"]].head())
matches_df["id_opponent"] = matches_df["id_opponent"].fillna(0).astype(int)

   id_equipe       Team         Opponent  id_opponent
0          1  Liverpool     Ipswich Town         19.0
1          1  Liverpool        Brentford         10.0
2          1  Liverpool   Manchester Utd         15.0
3          1  Liverpool  Nott'ham Forest          7.0
4          1  Liverpool         it Milan          NaN

### Attribution des IDs des équipes à domicile et à l’extérieur selon le lieu du match

In [115]:
matches_df["id_teamhome"] = matches_df.apply(
    lambda row: row["id_equipe"] if row["Venue"] == "Home" else row["id_opponent"], axis=1
)

matches_df["id_team_away"] = matches_df.apply(
    lambda row: row["id_opponent"] if row["Venue"] == "Home" else row["id_equipe"], axis=1
)

### Exportation des DataFrames nettoyés vers des fichiers CSV

In [116]:
players_df.to_csv("../../data/processed_data/players.csv",index=False)
matches_df.to_csv("../../data/processed_data/matches.csv",index=False)